body {
	height: 100vh;
	background-color: #1a1a1a;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

#highscore {
	font-size: 32px;
	color: #555555;
	margin-top: 40px;
}

#score {
	font-size: 64px;
}

#bonus {
	font-size: 32px;
	color: #00aa00;
}

#timeLeft {
	margin-top: 20px;
	font-size: 32px;
}

#playground {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 16px;
	margin-bottom: 40px;
	margin-top: 40px;
}

.square {
	height: 100px;
	width: 100px;
	background-color: white;
	border: none;
}

.active {
	background-color: dodgerblue;
	cursor: pointer;
}

.buttons-container {
	display: flex;
	gap: 20px;
}

.buttons-container button {
	font-size: 24px;
	background-color: dodgerblue;
	color: white;
	width: 100px;
	font-weight: bold;
	padding: 14px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition:
		background-color 100ms,
		padding 100ms,
		width 200ms;
}

.buttons-container button:hover {
	background-color: #0066cc;
	width: 120px;
}
