body {
	height: 100vh;
	background-color: #1a1a1a;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: center;
	align-items: center;
	color: white;
}

#score {
	font-size: 64px;
}

#playground {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 16px;
}

.square {
	height: 100px;
	width: 100px;
	background-color: white;
	border: none;
}

.active {
	background-color: dodgerblue;
}
